<div class="big-card">
    <div class="big-card__photo">
        <img
             src="https://conteudo.imguol.com.br/c/entretenimento/96/2020/08/07/iron-man-1596813808466_v2_900x506.jpg" 
             alt="" 
             height="200px"
             width="400px"
             srcset="">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Nova Versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <a href="#">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
               Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
               when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </a>
    </div>
</div>