<div class="small-card">
    <div class="small-card__content">
            <div class="small-card__photo">
                <img
                    src="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/11/03/1796402622-i404618.jpeg" 
                    alt="" 

                    srcset="">
            </div>
            <div class="small-card__title">
                <h1><a href="#">Nova Versão do Angular</a></h1>
            </div>
    </div>
    <div class="small-card__separetor">
        <hr/>
    </div>
    
</div>


